<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hello, {{name}},</p>
        <p>Thank you for registering to be a user on the blood bank portal</p>
    </body>
</html>